body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: black;
    background-color: #e5e5e5;

}

/* Nav+Footer */
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1, 17214286;
    font-weight: 700;
    text-decoration: none;
    color: #212121
}
 

.nav-list li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,17214286;
    color: #212121;;
    text-decoration: none;
}
.nav-list li a:hover,
.nav-list  li a:focus {
color: #2196F3
}

 .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,17214286;
    color: #757575;
    text-decoration: none;
 }
 .contact:hover {
    color: #2196F3
 }
.footer-wrapper {
    background-color: #2F303A;
    color: #FFFFFF
}
.logo_studio-footer {
    color:#FFFFFF
}
.logo-web {
    font-family: "Raleway", sans-serif ;
    font-size:  26px; ;
    line-height: 1,17214286;
    font-weight: 700;
    text-decoration: none;
    color: #2196F3;
}
 .footer-wrapper address {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 17214286;
 }


.address a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1, 17214286;
    text-decoration: none
}
.address a:hover,
.address a:focus {
    color:#2196F3
}

/* Main Portfolio */

 .category-buttons li button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.category-buttons button:hover,
.category-buttons button:focus {
    background-color:#2196F3;
    color:#FFFFFF;
    cursor: pointer;
}


.portfolio-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}
.portfolio-category {
    
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}
.portfolio-photo {
    background: url(.jpg);
}

/* main-index*/

.heading {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.service-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.service-button:hover
.service-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}
.text-list h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #212121;
}
.text-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #757575;
}
.studio-footer {
    color: #FFFFFF;
}